{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/hastags.css' %}">
<div class="container">
    <div class="buttons">
        <button class="btn"><a href="{% url 'adult_clothes' %}">Взрослая</a></button>
        <button class="btn"><a href="{% url 'teenagers_clothes' %}">Подростковая</a></button>
        <button class="btn"><a href="{% url 'children_clothes' %}">Детская</a></button>
    </div>

   {% for i in clothes %}
    <div class="content">
        <p class="white">{{ i.title }}</p>
      <hr class="white">
        <p class="white">{{ i.price }}</p>
    </div>
  {% endfor %}
</div>





{% include 'components/footer.html' %}